p {
	margin: 0px;
}

h1 {
	margin: 0px;
}

.right-text {
	text-align: right;
}

.inline-box {
	display: inline-block
}

@font-face {
	font-family: 'Cafe24Ssurround';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ELAND_Nice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Nice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-cafe {
	font-family: Cafe24Ssurround, sans-serif;
}

.font-elice {
	font-family: EliceDigitalBaeum_Bold, sans-serif;
}

.font-eland {
	font-family: ELAND_Nice_M, sans-serif;
}